---
const { book1, book2 } = Astro.props;
// import BookRight from "./BookRight.astro";
// import BookLeft from "./BookLeft.astro";
// import { Image } from "astro:assets";
import Overlay from "./Overlay.astro";
---

<!-- <pre>{JSON.stringify(bo1, null, 2)}</pre><p>Author: {bo1.author}</p> -->
<div
  class="place-items-center grid lg:grid-cols-2 lg:auto-rows mx-auto xl:max-w-[1000px]"
>
  <!-- row 1 -->
  <div
    class="shadow-2xl rounded-lg object-contain max-w-[250px] sm:max-w-[300px] md:max-w-[350px] lg:max-w-[400px] lg:row-span-2 lg:order-2"
  >
    <!-- <a href={link1}>
      <Image src={mockup1} alt="" />
    </a> -->
    <!-- <Overlay im={mockup1} overlay={spread1} /> -->
    <Overlay im={book1.mockup} overlay={book1.spread} />
  </div>

  <div
    class="text-lg py-24 lg:order-1 flex flex-col items-center justify-center"
  >
    <p>
      {book1.author}
      <span class="italic">
        {book1.title}
      </span>/ {book1.description}
    </p>
    <!-- <a href={link1} class="block pt-1 hover:underline"> See full spread </a> -->
    Click cover to see the full spread
    <!-- <span class="material-symbols-outlined"> arrow_forward </span> -->
    <span class="hidden lg:block material-symbols-outlined">
      line_end_arrow_notch
    </span>
  </div>

  <div
    class="shadow-2xl rounded-lg object-contain max-w-[250px] sm:max-w-[300px] md:max-w-[350px] lg:max-w-[400px] lg:row-span-2 lg:order-2"
  >
    <Overlay im={book2.mockup} overlay={book2.spread} />
  </div>

  <div class="text-lg py-24 lg:order-6 flex flex-col justify-center">
    <p>
      {book2.author}
      <span class="italic">
        {book2.title}
      </span>/ {book2.description}
    </p>
    Click cover to see the full spread
    <!-- <span class="material-symbols-outlined"> arrow_back </span> -->
    <span class="hidden lg:block material-symbols-outlined">
      line_start_arrow_notch
    </span>
  </div>
</div>
