---
import MainLayout from "../../layouts/MainLayout.astro";
import Heading from "../../components/Heading.astro";

import { Image } from "astro:assets";

import mockup1 from "../../images/art2024/covers/mock-ups/01_roaming_mockup.png";
import mockup2 from "../../images/art2024/covers/mock-ups/02_polishcats_mockup.png";
import mockup3 from "../../images/art2024/covers/mock-ups/03_bigfish_mockup.png";
import mockup4 from "../../images/art2024/covers/mock-ups/04_forest_mockup.png";
import mockup5 from "../../images/art2024/covers/mock-ups/05_tinythings_mockup.png";
---

<MainLayout>
  <Heading> Book covers </Heading>
  <div class="grid grid-cols-2">
    <a href="roaming">
      <Image src={mockup1} alt="main image" class="object-contain shadow-lg" />
    </a>
    <a href="polishcats">
      <Image src={mockup2} alt="main image" class="object-contain" />
    </a>
    <a href="bigfish">
      <Image src={mockup3} alt="main image" class="object-contain" />
    </a>
    <a href="forest">
      <Image src={mockup4} alt="main image" class="object-contain" />
    </a>
    <a href="tinythings">
      <Image src={mockup5} alt="main image" class="object-contain" />
    </a>
  </div>
</MainLayout>
