---
import MainLayout from "../../layouts/MainLayout.astro";
import BookPair from "../../components/BookPair.astro";
import BookRight from "../../components/BookRight.astro";
import Button from "../../components/Button.astro";
// import Overlay from "../../components/Overlay.astro";
// import BookLeft from "../../components/BookLeft.astro";

import mockup1 from "../../images/art2024/covers/fronts/01-roaming_cover.png";
import spread1 from "../../images/art2024/covers/01-roaming_cover.png";

import mockup2 from "../../images/art2024/covers/fronts/02-polishcats_cover.png";
import spread2 from "../../images/art2024/covers/02-polishcats_cover.png";

import mockup3 from "../../images/art2024/covers/fronts/03-thebigfish_cover.png";
import spread3 from "../../images/art2024/covers/03-thebigfish_cover.png";

import mockup4 from "../../images/art2024/covers/fronts/04-tinythings_cover.png";
import spread4 from "../../images/art2024/covers/04-tinythings_cover.png";

import mockup5 from "../../images/art2024/covers/fronts/05-forest_cover.png";
import spread5 from "../../images/art2024/covers/05-forest_cover.png";

import mockup6 from "../../images/art2024/covers/fronts/jung_cover.png";
import spread6 from "../../images/art2024/covers/jung_spread.png";
---

<MainLayout>
  <!-- <Overlay im={mockup1} overlay={mockup3} /> -->

  <BookPair
    mockup1={mockup6}
    spread1={spread6}
    text1="Memories, Dreams, Reflections/Personal Project"
    link1="memories"
    mockup2={mockup1}
    spread2={spread1}
    text2="Roaming/Personal Project"
    link2="roaming"
  />

  <BookPair
    mockup1={mockup3}
    spread1={spread3}
    text1="The Big Fish/Personal Project"
    link1="thebigfish"
    mockup2={mockup2}
    spread2={spread2}
    text2="Polish Cats/Personal Project"
    link2="polishcats"
  />

  <BookPair
    mockup1={mockup4}
    spread1={spread4}
    text1="Tiny Things/Personal Project"
    link1="tinythings"
    mockup2={mockup5}
    spread2={spread5}
    text2="Forest/Personal Project"
    link2="forest"
  />

  <!--
  <BookRight
    mockup={mockup4}
    spread={spread4}
    text="Tiny Things/Personal Project"
    link="tinythings"
  />
  -->

  <!-- <BookLeft
    mockup={mockup4}
    text="Tiny Things/Personal Project"
    link="tinythings"
  /> -->
  <Button
    href="/illustration/"
    class="pt-12 flex justify-center md:justify-end"
  >
    <div class="text-center">
      <p>Go to</p>
      Illustration
    </div>
  </Button>
</MainLayout>
