---
import MainLayout from "../../layouts/MainLayout.astro";
// import Masonry from "../../components/Masonry.astro";
import LightBox from "../../components/LightBox.astro";
import Button from "../../components/Button.astro";
import Heading from "../../components/Heading.astro";

// import { Image } from "astro:assets";

// const images = await Astro.glob("../../images/art2024/faces/*.gif");
import otter from "../../images/art2024/faces/animalfaces_otter0001-0250.gif";
import tiger from "../../images/art2024/faces/animalfaces_tiger0001-0250.gif";
import lemur from "../../images/art2024/faces/animialfaces_lemur0001-0250.gif";
---

<MainLayout>
  <div class="pb-4">
    <Heading>Animal Faces</Heading>
    <!-- <Masonry images={images} /> -->
    <!-- <div class="flex justify-center"> -->
    <div
      class="flex flex-col justify-center items-center md:flex-row gap-4 mt-4"
    >
      <!-- <div
        class="place-items-center grid grid-cols-[300px] md:grid-cols-[200px_200px_200px] lg:grid-cols-[300px_300px_300px] gap-2"
      > -->
      <!-- <Image src={otter} alt="" class="object-contain" />
        <Image src={tiger} alt="" class="object-contain" />
        <Image src={lemur} alt="" class="object-contain" /> -->

      <LightBox im={otter} />
      <LightBox im={tiger} />
      <LightBox im={lemur} />
    </div>
  </div>
  <Button
    href="/illustration/"
    class="pt-12 flex justify-center md:justify-end"
  >
    Go to Illustration
  </Button>
</MainLayout>
